@import '_vars';
@import '_mixins';
@import 'nav';
@import 'nav-mobile';
@import 'header';
@import 'main';
@import 'footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include flex-center;
  position: relative;
  color: color(black, 1);
}